/* Resetting Padding and Margins */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Header */

.top-nav {
    display: block;
    /*border: 1px solid black;*/
    height: 70px;
    background-color: aqua;
    /*align-items: center;*/
    font-family: 'Roboto Slab';
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    /*margin-top: 20px;*/
    margin: 0 23px;
}


#home-button {
    display: inline-block;
    /*border: 1px solid black;*/
    width: fit-content;
    padding: 10px;
}

#home-button li {
    /*border: 1px solid black;*/
    list-style-type: none;
    padding: 5px 7px; 
    border-radius: 6%;
}

#home-button li:hover {
    background-color:gainsboro;
}

#home-button a {
    text-decoration: none;
}

#internal-pages {
    display: block;
    position: relative;
    float: right;
    width: fit-content;
    /* background-color: white; */
    padding: 10px;
}

#internal-pages li {
    display: inline-block;
    padding: 5px 7px;
    border-radius: 6%;
    margin-left: 5px;
}

#internal-pages li:hover {
    background-color:gainsboro;
}

#internal-pages a {
    color: black;
}

/* main columns */
main {
    /* padding: 0 45px; */
    /* display: grid;*/
    grid-template-areas: "main-header main-header";
    background-color: bisque;
}

.main-header {
    display: block;
    justify-content: flex-start;
    font-family: 'Roboto Slab';
    font-size: 28px;
    font-weight: 200;
    background-color: aquamarine;
    padding: 0 22px;
    margin: 0 23px;
}


