/* Resetting Padding and Margins */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Header */

.top-nav {
    height: 300px;
}

#home-button {
    display: inline;
    width: 70px;
}

#internal-pages li {
    display: inline;
    width: 150px;
}




/* Classes */

.main-header {
    display: flex;
    justify-content: flex-start;
}

.main-header h2 {
    border-style: none;
    font-familiy: 'Roboto', sans-serif;
    font-size: 42;
    color:black;
}
