/* Resetting Padding and Margins */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Header */

.top-nav {
    display: flex;
    height: 70px;
    background-color:aquamarine;
    justify-content: flex-end;
    align-items: center;
}

/*
.top-nav div {
    display: inline-flex;
}
*/


#home-button {
    position: relative;
    right: 25%;
    list-style-type: none;
    list-style-position: inside;
    display: inline;
    width: 100px;
    color: white;
    background-color: black;
}


#internal-pages {
    position: relative;
    /*left: 50%;*/

}

#internal-pages li {
    display: inline;
    width: 150px;
    padding: 10px;
}



/* body */

.main-header {
    display: flex;
    justify-content: flex-start;
}


.main-header article {
    display: block;
}


.main-header h2 {
    border-style: none;
    font-family: Roboto, sans-serif;
    font-size: 42;
    color:black;
}

