/* Universal Formating */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Page Layout */


/* Top Nav: This class and elements inside it were styled
to have a total of 40px of margin */ 

.top_nav {
    display: block;
    /*border: 1px solid black;*/
    height: 70px;
    background-color: white;
    /*align-items: center;*/
    font-family: 'Roboto Slab';
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    /*margin-top: 20px;*/
    margin: 0 23px;
}


#home {
    display: inline-block;
    list-style-type: none;
    /*border: 1px solid black;*/
    width: fit-content;
    padding: 10px;
}


#home li {
    /*border: 1px solid black;*/
    padding: 5px 7px; 
    border-radius: 6%;
}

#home li:hover {
    background-color:gainsboro;
}

#home a {
    text-decoration: none;
}

#links {
    display: block;
    position: relative;
    /* border: 1px solid black;*/
    width: fit-content;
    float: right;
    padding: 10px;
}

#links li{
    display: inline-block;
    /* border: 1px solid black;*/
    padding: 5px 7px;
    border-radius: 6%;
    margin-left: 5px;
}

#links li:hover {
    background-color:gainsboro;
}

#links a {
    color: black;
}


/* The Welcome Section */
#welcome {
    display: block;
    /* border: 1px solid black; */
    height: 500px;
    /*padding-top: 30px;*/
    /*background-color:darkslategrey;*/
    /*margin: 20px 0;*/
}


#welcome h1 {
    /* border: 1px dotted blue; */
    background-color: darkslategray;
    color: white;
    display: flex;
    height: 86%;
    font-size: 200px;
    font-family: 'Roboto Slab';
    font-weight: 400;
    justify-content: center;
    align-items: center;
    padding: 0 0;
}

#welcome h3 {
    /* border: 1px dotted red; */
    display: flex;
    position: relative;
    /*bottom: 20px;*/
    font-family: 'Roboto Slab';
    font-weight: 300;
    font-size: 26px;
    justify-content: center;
    align-items:flex-start;
    margin-top: 45px;
    margin-bottom: 0;
    padding: 0 10px;
    color: black;
}


/* Introduction */
#introduction {
    /* border: 1px solid green; */
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 27px;
    justify-content: center;
    align-items: center;
}


#introduction img {
    display: inline-block;
    border-radius: 50%;
}


#introduction p {
    /* border: 1px solid black; */
    padding: 20px;
    line-height: 1.4;
    display: inline-block;
    width: 420px;
    height: fit-content;
    margin: 50px;
    font-size: 19px;
    font-family: 'Roboto Slab';
    font-weight: 300;
    text-align: center;
}


/* Languages */
#languages {
    padding: 30px 27px;
}


.sec-Heading {
    border: 1px solid purple;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: 'Roboto Slab';
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

#language-gallery {
    display: grid;
    padding: 30px;
    height: 600px;
    min-width: 500px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    border: 1px solid red;
    gap: 20px 30px;
    justify-content: space-evenly;
}


.language {
    border: 1px solid blue;
    /* margin: 20px; */
}