/* Universal Formating */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}
  
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}  


/* Mobile Design */
@media only screen and (max-width: 600px){

    /* Column width */
    [class*="col-"]{
        width: 100%;
    }
    
    /* Top Nav : The Home Button */
    .top_nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;
        background-color: darkslategray;
        font-family: 'Roboto Slab';
        font-size: 16px;
        padding: 20px 0;
    }

    .home i
    {
        color: white;
        margin-left: 20px;
    }

    .home ul
    {
        display: none;
    }


    /* The Menu Button */
    .toggle
    {
        display: inline-flex;
        position: relative;
        /* bottom: 45px; */
        justify-content: center;
        align-items: center;
        border: 2px solid white;
        width: 40px;
        height: 40px;
        border-radius: 6px;
        /* float: right; */
        margin: 20px 20px;
        cursor: pointer;
        overflow: hidden;
    }

    .toggle span
    {
        position: absolute;
        width: 24px;
        height: 2px;
        background-color: white;
        border-radius: 4px;
        transition: 0.5s;
    }

    .toggle span:nth-child(1)
    {
        transform: translateY(-8px);
        left: 6px;
    }

    .toggle.active span:nth-child(1)
    {
        transform: translateY(0px) rotate(45deg);
        width: 24px;
        transition-delay: 0.125s;
    }

    .toggle span:nth-child(2)
    {
        transform: translateY(8px);
        width: 24px;
        left: 6px;
    }

    .toggle.active span:nth-child(2)
    {
        transform: translateY(0px) rotate(315deg);
        width: 24px;
        transition-delay: 0.20s;
    }

    .toggle.active span:nth-child(3)
    {
        transform: translateX(40px);
    }

    #links
    {
        display: none;
        color: white;
        background-color: darkslategray;
        /* height: 400px; */
        position: relative;
        float: right;
        clear: left;
    }

    #links li
    {
        color: white;
        text-decoration: none;
        list-style-type: none;
    }

    .toggle.active
    {
        z-index: 2;
    }

    .toggle.active #links
    {
        z-index: 1;
        display: block;
    }
}




/* Page Layout */



/* Big Screens' design*/


@media only screen and (min-width: 768px) {
    
    /* .top_nav {
        display: block;
        height: 500px;
        background-color: white;
        font-family: 'Roboto Slab';
        font-size: 16px;
        font-weight: 400;
        padding: 10px;
        margin: 0 23px;
    } */


    .top_nav
    {
        border: 1px solid red;
    }
    
    #home {
        display: inline-block;
        background-color: aqua;
        width: fit-content;
        padding: 10px;
    }

    #links
    {
        display: inline-block;
        border: 2px solid red;
        width: fit-content;
    }
}
