<!DOCTYPE html>

<html>
  <head>
    <title>Principles of Design</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="resources/index.css">
  </head>

  <body>
    <header>
      <nav class="top-nav">
        <div id="home-button">
          <ul>
            <a href="../../index.html"><li>Home</li></a>
          </ul>
        </div>

        <div id="internal-pages">
          <ul>
            <a href="../../about_page.html"><li>About David</li></a>
            <a href="Technologies"><li>Technologies</li></a>
            <a href="../../projects.html"><li>Projects</li></a>
            <a href="../index.html"><li>Resources</li></a>
          </ul>
        </div>
      </nav>
    </header>

    <section class="main-header">
      <article>
        <h2>Navigation</h2>

        <h5>Links and Buttons</h5>

        <ul>
          <li>Don't forget to add <a href="">tooltips</a> to your links, so that a user can get a gist
          of what a link will be about.</li>

          <li>Style your links using color and the <a href="">text-decoration</a> property so that
          they stand-out but don't diverge very far from the overall color theme of the site.</li>

          <li>Add hover effects using the <code>:hover</code> pseudo-class of CSS on your element.</li>

          <li>Add changes to the cursor using the <code class="inline">cursor: ;</code> property.</li>
        </ul>
      </article>

      <article>
        <h2>Layout</h2>
      </article>
    </section>

    
  </body>
</html>