<!DOCTYPE html>

<html>
  <head>
    <title>Layout</title>
  </head>
  
  <body>
    <section id="rows_&_columns">
      <article>
        <h1>Property 1: Rows, Columns, and Gutters</h1>

      </article>
    </section>

    <section id="flex_box">
      <article>
        <h1>The Flex Box</h1>

        <ul>
          <li>It is a styling system that makes it possible for HTML to resize based on the
            size of the screen.
          </li>

          <li>It is set by setting the <code>display</code> property of an element to either
          "<em>flex</em>" or "<em>inline-flex</em>". This will make the element a 
          <strong>flex container</strong></li>

          <li>The flex container has properties that enable items within it to resize and 
            re-position themselves based on how stretched the box is.
          </li>

          <li><code>display: flex;</code> will make the container a block element while the
            <code>display: inline-flex;</code> will make it an inline-block.</li>

          <li>Once that is done; you can go inside and start commanding how the elements within the container
            should behave. The first argument is <code>justify-content</code>.
          </li>

          <figure class="code-fig">
            <code>
              # {
                display: flex;
                justify
              }
            </code>
          </figure>
        </ul>
      </article>
    </section>
  </body>

</html>
